################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/AWA.Util
/src/AWA.Util/bin/Debug
/src/AWA.Util/obj
/src/AWA.Util.WebBase/bin/Debug/netstandard2.0
/src/AWA.Util.WebBase/obj
/src/AWA.Util.Area/bin/Debug/netstandard2.0
/src/AWA.Util.Area/obj
